/*home.html*/
.outer,.dis
{
	position:absolute;
	top:50px;
	left:150px;
	width:700px;
	height:400px;
	box-shadow:5px 10px black;
	background-color:#630000;
}
.inner
{

	position:absolute;
	top:100px;
	left:70px;
	width:200px;
	height:40px;

}
.btn7
{
	top:110px;
}
.btn1,.btn5
{
	position:absolute;
	top:110px;
	left:130px;
	width:100px;
	height:40px;

	background-color:blue;
}
.btn2,.btn6
{
	position:absolute;
	top:110px;
	left:200px;
	width:100px;
	height:40px;

	background-color:red;
	margin-left:70px;
}

/*student-login*/


b
{
	color:white;
	font-family:cursive;
}
.t_out
{
		position:absolute;
	top:50px;
	left:240px;
	width:400px;
	height:400px;
	background-color:#310b0b;
	border-color:white;
	border-style:double;
	border-radius:16px;
}

.name,.id
{position:absolute;
left:80px;
	width:250px;
	height:30px;

	text-align:center;
	border-radius:20px;
	
}

a
{
	color:white;
}
.one,.two,.three,.four,.five,.six,.seven,.nine,.ten,.ele
{
	 position:absolute;
	left:200px;
	height:20px;
	margin-left:40px;
	border-radius:16px;
	border-color:black;
	width:200px;text-align:center;
	
}

.btn3
{
	position:absolute;
	top:100px;
	left:145px;
	width:100px;
	height:25px;
	border:32px;
	background-color:green;
}
.t_register
{
		position:absolute;
	top:250px;
	left:170px;
	width:500px;
	color:white;
	height:800px;
}
.t_login
{
		position:absolute;
	top:90px;
	left:20px;
	width:400px;
	height:250px;
}

h4
{
		 position:absolute;
	 top:15px;
	 left:120px;
	color:yellow;
	font-family:cursive;

}



/*student-register*/



.tea_reg_outer
{
	position:absolute;
	top:35px;
	left:80px;
	font-size:15px;
     color:white;
     font-family:cursive;
	width:800px;
	height:650px;
	background-color:#4e3620;
}option{
	width:200px;
	height:20px;
	border-radius:16px;text-align:center;
}.s1
{
	position:absolute;
	left:250px;
	top:430px;height:25px;	border-radius:16px;
	width:200px;
}
.s
{position:absolute;
	left:250px;
	top:350px;height:25px;	border-radius:16px;
	width:200px;
	
}
.tea_reg_inner
{position:absolute;
	top:25px;
	left:50px;
}
.register_btn
{position:absolute;
	background-color:green;
	height:30px;
	width:100px;
	border-color:white;
	boreder-width:3px;
	left:270px;
}